.App-header {
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.plan-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.landmarks {
    position: relative;
    text-align: center;
    margin-top: 0%;
}

.landmark-image {
    width: 100%;
    height: auto;
}

.landmark-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.discover-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}